h1{
    color: white;
    background-color: black;
width: 1000px;
font-family: 'Roboto Condensed', sans-serif;
}
p{
    text-align: justify;
    text-align: center;
    font-size: 20px;
    text-transform:font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif; ;
}
strong{
    font-size: 20px;
text-align: justify;
    text-align-last: center;
}
